.Header{
    display: flex;
    justify-content:flex-end;
}
.pt-br{
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    height: 30px;
}

.contato{
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    height: 30px;
}

.btn{
    padding-left: 10px;
    padding-right: 10px;
    width: 30px;
    height: 30px;
}